import React, { Component } from 'react';
import PropTypes from 'prop-types';
import './index.less';

import classnames from 'classnames';

class {{name}} extends Component {
  constructor (props) {
    super(props)
  }

  render () {
    return (
      <div className="{{kebabCase name}}">
        {{name}}
      </div>
    )
  }
}

{{name}}.propTypes = {
  
}

export default {{name}}
